name: GitHub Self-Updating Repository

on:
  schedule:
    - cron: "0 */4 * * *"
  workflow_dispatch:

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        # https://github.com/actions/checkout/tree/v3.0.2
        uses: actions/checkout@v4
        with:
          ref: ics
      - name: Create UFC.ics
        run: |
          npm install
          npm start
      - name: Push to repository
        run: |
          git config --global user.name "Your Name" # Use your actual name
          git config --global user.email "your@email.com" # Use your actual email
          
          # Check if files exist before trying to add them (optional, but good practice)
          ls -l UFC.ics UFC-PPV.ics
          
          git add UFC.ics UFC-PPV.ics
          git commit -m "Update UFC.ics and UFC-PPV.ics" || echo "No changes to commit"
          git push -u origin ics
